<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                                 http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
             version="1.0">
    <persistence-unit name="gadgetDatabase">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <jta-data-source>java:/@project.name@-db</jta-data-source>
        <properties>
            <!-- Drop/create the mapped tables each time we deploy -->
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <!-- Show generated SQL queries (handy for debugging) -->
            <property name="hibernate.show_sql" value="true"/>
            <!-- Tie this persistence unit to the Seam-managed 
                 EntityManagerFactory we configured in components.xml -->
            <property name="jboss.entity.manager.factory.jndi.name"
                      value="java:/EntityManagerFactories/gadgetDatabase"/>
        </properties>
    </persistence-unit>
</persistence>
